.desktop {

    background: #000000;
        header {
        display: flex;
        width: 1440px;
        height: 77px;
        margin: 26px;
        .text_1 {
            position: absolute;
            text-decoration: none;
            width: 201.41px;
            height: 21.9px;
            left: 213px;
            top: 41px;
            color: #363030;
        }
       .group_1 {
            display: flex;
            margin-left: 1150px;
            width: 245px;
            height: 72px;
            .about_us {
                padding: 15px;
                width: 50px;
                height: 22px;
                left: 0px;
                top: 0px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                color: #575757;
                text-decoration: none;
            }
            .contacts {
                padding: 15px;
                width: 84px;
                height: 22px;
                left: 65px;
                top: 0px;
                text-decoration: none;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                color: #575757;
            }
            .faq {
                padding: 15px;
                width: 35px;
                height: 22px;
                left: 160px;
                text-decoration: none;
                top: 0px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 22px;
                color: #575757;
            }
        }
        .line_2 {
            position: absolute;
            width: 1680px;
            top: 88px;
            border: 1px solid #242424;
        }
    }
    .main {
        position: absolute;
        width: 1215px;
        height: 254px;
        top: 194px;
        left: 212px;
        display: flex;
        .heart {
            position: absolute;
            width: 231px;
            height: 254px;
            left: 997px;
            display: flex; 
        }
         .group33527 {
            position: absolute;
            width: 1016px;
            height: 254px;
            .text_2 {
                position: absolute;
                width: 701px;
                height: 38px;
                top: 170px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #575757;
            }
         }  .text_3 {
                
                width: 668px;
                height: 117px;
                top: 56px;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 700;
                font-size: 32px;
                line-height: 39px;
                color: #CFCFCF;
         }
    }
    .group_3{
        position: absolute;
        width: 1440px;
        height: 530px;
        top: 549px;
        left: 212px;
        border-radius: 11px;
        .your-gender{
            position: absolute;
            width: 83px;
            height: 24px;
            left: 2px;
            top: 2px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            color: #CFCFCF;
        }
        .partner-gender {
        position: absolute;
        width: 83px;
        height: 24px;
        left: 122px;
        top: 2px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 24px;
        color: #CFCFCF;
        }
        .span-1 {
            display: inline-flex;
            width: 200px;
        } 
        .search-button{
        position: absolute;
        width: 120px;
        height: 48px;
        left: 2px;
        top: 90px;
        border-radius: 11px;
        color: #fefefe;
        background-color:#242424
        } 
    }
}